.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-2);
  flex-wrap: wrap;
  gap: var(--space-2);
}

.presentationToggleWrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
